.UserAccountInfo{
    display : grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 800px;
    margin:auto;
    height : 200px;
    /* grid-gap: 10px; */
}

.ProfilePicture {
    border-radius: 50%;
    width : 150px;
    height : 150px;
    margin: auto;
}

.UserName {
    font-weight: bold;
    font-size: 1.8em;
    width: 200px;
    display: block;
    margin-bottom: 50px;
    /* padding: 50px; */
}

.WorkInfos {
     
}

.WorkInfo {
    font-size: 1.3em;
}

.UserInfo {
    margin: auto 30px;
    align-content: flex-start;
    text-align: left;
}

.Stats{
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.StatsCount {
    font-size: 1.8em;
}

.StatsText {
    font-size: 1.4em;
}

