.UserAccountInfo{
    display : grid;
    grid-template-columns: 1fr 1fr 2fr;
    width: 70%;
    max-width: 800px;
    min-width: 300px;
    margin:auto;
    height : 200px;
    /* grid-gap: 10px; */
}

.ProfilePicture{
    border-radius: 50%;
    width : 150px;
    height : 150px;
    margin: auto;
}

.UserName {
    font-weight: bold;
    font-size: 1.8em;
    width: 200px;
    display: block;
    margin-bottom: 50px;
}

.WorkInfo {
    font-size: 1.3em;
}

.UserInfo {
    margin: auto 30px;
    align-content: flex-start;
    text-align: left;
}

.Stats{
    margin: 30px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.StatsCount {
    font-size: 1.8em;
}

.StatsText {
    font-size: 1.4em;
}

@media(max-width: 770px) {
    .UserAccountInfo{
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: 1fr;
    }

    .UserInfo {
        text-align: center;
        margin: auto;
    }

    .UserName {
        text-align: center;
    }
}

