.RepositoryCard {
    background-color: #DADEE4;
    color: #0D2241;
    transition: all 0.5s ease-in-out;
    max-width: 500px;
    min-width: 320px;
    /* height: 150px; */
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px auto;
}

.RepositoryName {
    /* justify-self: left; */
    margin: 15px auto 15px 10px;
    font-size: large;
    font-weight: bold;
    /* background-color: darkgreen; */
}

.RepositoryDescription {
    text-align: left;
    margin-left: 10px;
}

.RepositoryInformation {
    display: grid;
    margin: 15px auto 15px 10px;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.RepositoryCard:hover {
    background-color: #0D2241;
    color: #DADEE4;
}